

.card{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1{
    color: rgb(24, 40, 81);
}

label{
    font-weight: bolder;
    color: rgb(24, 40, 81)
}

.space{
    height: 10rem;
}

textarea {
    resize: none;
  }